[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
[submodule "themes/hermit_zola"]
	path = themes/hermit_zola
	url = https://github.com/VersBinarii/hermit_zola
